* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BFD7E4;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*background: #293241;*/

    background-image: url("../assets/background_01.jpg");
    background-size: cover;
   
}

.page {
    width: 750px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-weight: 'bold';
    font-size: 36px;
    color: #ffffff;

    margin-top: 70px;
}

header p {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;

    margin-top: 10px;
    margin-bottom: 10px;
}

header legend {
    width: 100%;
    height: 102px;

    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    color: #ffffff;

    border-radius: 20px 20px 0px 0px;
    background: #1976d2;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 32px;
}

form {
    width: 100%;
    min-height: 400px;

    background: #ffffff;
    border-radius: 0px 0px 20px 20px;

    padding: 30px 64px 64px 64px;

    display: flex;
    flex-direction: column;
    gap: 38px;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;

    gap: 28px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E4958;

    margin-bottom: 8px;
}

.input-wrapper span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737178;

    margin-left: 8px;
}

.input-wrapper input {
    width: 100%;
    height: 54px;

    border-radius: 8px;
    border: 1px solid #E6E6F0;
    background: #FAFAFC;

    color: #737178;
    font-size: 16px;

    padding: 0px 14px;
}

.submit-wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 8px;
    padding-top: 12px;
}

.button {
    display: flex;
    height: 52px;

    border-radius: 8px;
    background: #1976d2;

    justify-content: center;
    align-items: center;

    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFF;

    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: #105397;
}